# SMTP Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SENDER_EMAIL=justice@nyaysetu.gov.in

# MongoDB Configuration
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/nyaysetu_db?retryWrites=true&w=majority

# Redis Configuration (For Celery)
REDIS_URL=redis://default:<password>@<host>:<port>

# JWT Configuration
JWT_SECRET_KEY=your-secret-key-here
